/****************** GENERAL ******************/
body {
    color: #333;
}
#page {
    background: #fff;
}


section.prim-section{
    background-color: #fff;
}

section.third-section{
    background-color: #999;
}

/***************** BOOTSTRAP *****************/

.label.label-default {
    background: #aaa;
}
blockquote {
    color: #555;
}


/***************** HOMEPAGE ******************/
.iconBlocHome svg {
    color: #5381BA;
}

/************ ISOTOPE / PORTFOLIO ************/
.isotopeWrapper.loaded {
    background: none;
}
.isotopeContent {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.more-action figcaption p {
    color: #fff;
}
.more-link:hover .more-action {
    background: rgba(83, 129, 186, 0.5);
}
.more-icon svg {
    color: #5381BA;
    background: #fff;
}
.lazy-more-btn {
    background: #aaa!important;
    color: #fff!important;
}
.lazy-more-btn:hover {
    background: #fff!important;
    color: #333!important;
}

/*************** MISCELLANEOUS ***************/
aside .widget-title {
    color: #5381BA;
}
aside h3 {
    color: #555;
}
.more-content {
    background: rgba(50, 50, 50, 0.3);
    color: #fff;
}
.more-content h3 {
    color: #fff;
    border: 2px solid #fff;
}
.more-content .more-descr {
    background: rgba(83, 129, 186, 0.8);
    color: #fff;
}
.boxed {
    background: #f1f1f1;
    border: 1px solid #ddd;
    padding: 20px;
}
/************* BOOKING RESULTS ***************/
#booking-summary {
    border: 1px solid #506F9E;
}
#booking-summary .col-md-6:first-child {
    background: #506F9E;
    color: #fff;
}
#booking-summary .col-md-6:first-child h2 {
    color: #fff;
}
#booking-summary big {
    color: #506F9E;
}

@media (min-width: 768px) {
    .booking-result > .sep {
        border-left: 1px solid #ddd;
    }
}
.checkbox-icon {
    border: 2px solid #5381BA;
}
.activity-result .checkbox-icon:before {
    color: #fff;
}
.activity-result.active .checkbox-icon:before {
    color: #5381BA;
}
.booking-result .legend {
    background: #E8E8E8;
    color: #555;
}
.activity-result .hb-calendar {
    background: #f2f2f2;
}
.booking-result .price:not(.text-primary) span {
    color: #90CC90;
}
#booking-breadcrumb .breadcrumb-item {
    background: #e8e8e8;
}
#booking-breadcrumb .breadcrumb-item.done {
    background: #506f9e;
    color: #fff;
}
#booking-breadcrumb .breadcrumb-item.active {
    background: #344860;
    color: #fff;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #344860;
}
.hotBox {
    background: #344860;
    color: #fff;
}   
.hotBox h2,
.hotBox a {
    color: #fff;
}
#pages-list li a {
    border: 1px solid #ddd;
    background-color: #aaa;
    color: #fff;
}
#pages-list li a:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}
