

section.prim-section,section.sec-section{
    overflow-y: auto;
    overflow-x: hidden; 
}
html body section .sec-title{
    text-align: center;
}

html body section#location .sec-title{
    text-align: left;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}
a, a:active, a:focus,
button, button:active, button:focus {
    outline: 0!important;
}
a:hover, button:hover {
    transition: all 0.3s;
}

/***************** BOOTSTRAP *****************/

.form-control {
    height: 42px;
}
.btn {
    line-height: 2;
}


li.Nactive > ul {
    display: block !important;
}

li.Nactive > .dropdown-btn:after {
    content: "";
}
#lang-btn {
    background: transparent;
    border: 0;
}
.info-header {
    margin-right: 20px;
    white-space: nowrap;
}

.searchWrapper {
    max-width: 320px;
    height: 44px;
    margin-left: 20px;
}
.searchWrapper .form-control, .searchWrapper button {
    background: none;
    border: none;
    height: 44px;
    display: block;
    float: left;
}
.searchWrapper .form-inline .form-control {
    width: 165px;
}
.searchWrapper button {
    float: right;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.searchWrapper .form-control:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

