//-------------------------
//-------- ALL PAGES
//-------------------------

.page_header {
	padding: 6rem 0 0;
}

//-- TEASER

.teaser {
	padding-bottom: 12.4rem;
	@extend .content-slider;
	h3, p {
		color: $c-main;
	}
	.container {
		position: relative;
		@include breakpoint(tablet) {
			width: 100%;
		}
	}
	.imgSlider {
		position: relative;
		float: left;
		width: 74%;
		margin-right: 6rem;
		@include breakpoint(tablet) {
			width: 100%;
			float: none;
		}
		.img-slide {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
	&__content {
		@include absolute(center-vertical);
		right: 0;
		width: 21%;
		height: auto;
		overflow: hidden;
		@include breakpoint(tablet) {
			position: static;
			transform: none;
			width: 90%;
			margin: 0 auto;
			margin-top: 10rem;
		}
		h3 {
			@include breakpoint(tablet) {
				font-size: 5rem;
			}
		}
		p {
			@include breakpoint(tablet) {
				font-size: 3rem;
			}
		}
	}
	.slider-nav {
		@include absolute(center-vertical);
	}
	.slick-dots {
		width: 100%;
		text-align: center;
		@include breakpoint(tablet) {
			position: absolute;
			bottom: -64px;
			left: 0;
			margin-left: 0;
			padding-bottom: 0;
		}
	}
	.slick-dots li.slick-active button:before {
		color: $c-main;
	}
}

//-- Teaser LIST

.teaser-list {
	padding-top: 11.4rem;
	.container {
		width: 100%;
	}
	.listBox {
		width: 46.5%;
		float: left;
		margin-right: 7%;
		margin-bottom: 10rem;
		@include breakpoint(tablet) {
			width: 100%;
			margin-right: 0;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}
		h4 {
			font-size: 1.2rem;
			color: $c-mainLighter;
			text-transform: uppercase;
		}
		h3 {
			margin: 1rem 0 2.4rem;
			font-family: $butler;
			font-size: 3.6rem;
			color: $c-main;
		}
		.prices {
			position: absolute;
			top: 3rem;
			right: 0;
			.cen-vertical {
				position: relative;
				top: -0.3rem;
				margin-right: 1rem;
				font-size: 1.2rem;
			}
			.num {
				font-size: 2.4rem;
			}
		}
		p {
			margin-bottom: 3.6rem;
			font-size: 14px;
			font-weight: 300;
			line-height: 1.57;
			color: #636363;
		}
		.btn-green {
			position: absolute;
			bottom: 0;
			right: 0;
			float: right;
		}
		&__content {
			position: relative;
			height: 31.8rem;
			overflow: hidden;
			@include breakpoint(tablet) {
				width: 90%;
				margin: 0 auto;
			}
		}
	}
	.link-more {
		@extend .link-all-rooms;
		position: absolute;
		bottom: 2rem;
		.icon-right-arrow {
			margin-left: 1.5rem;
		}
	}
	.img-container {
		margin-bottom: 4rem;
		@include breakpoint(tablet) {
			margin-bottom: 8rem;
		}
		img {
			width: 100%;
		}
	}
}

