//-------------------------
//------------ROOMS
//-------------------------
#rooms {
	padding-top: 18rem;
	background-image: url('../images/visi-darte-logo-bg.png');
	background-repeat: no-repeat;
	background-position: 120% -80px;
	background-size: 40%;
}
