//-------------------------
//------------ROOMS
//-------------------------
#rooms {
	padding-top: 18rem;
	background-image: url('../images/visi-darte-logo-bg.png');
	background-repeat: no-repeat;
	background-position: 120% -80px;
	background-size: 40%;
	@include breakpoint(tablet) {
		padding-top: 390px;
	    background-position: 120% 51px;
	}
	@include breakpoint(tablet) {
		padding-top: 360px;
	    background-position: 120% 51px;
	}
	@include breakpoint(mobile) {
		padding-top: 10rem;
		background-position: 136% -222px;
		background-size: 50%;
	}
}
