//-------------------------
//-------- SECTION
//-------------------------


//-- Title and subtitle for all sections
.sec-title {
	margin: 20px 0 70px;
	font-family: $butler;
	font-size: 50px;
	color: $c-main;
	text-transform: uppercase;
	@include breakpoint(mobile) {
		margin: 2.5rem 0 7.9rem;
		font-size: 6rem;
	}
}

.sec-subtitle {
	font-size: 12px;
	color: $c-mainLighter;
	text-align: center;
	text-transform: uppercase;
	@include breakpoint(mobile) {
		font-size: 1.5rem;
	}
}
//------------------------------

//--- Section Room slider

#rooms {
	padding-top: 18rem;
	background-image: url('../images/visi-darte-logo-bg.png');
	background-repeat: no-repeat;
	background-position: 120% -80px;
	background-size: 40%;
	@include breakpoint(tablet) {
		padding-top: 390px;
	    background-position: 120% 51px;
	}
	@include breakpoint(tablet) {
		padding-top: 360px;
	    background-position: 120% 51px;
	}
	@include breakpoint(mobile) {
		padding-top: 10rem;
		background-position: 136% -222px;
		background-size: 50%;
	}
}
.rooms-slider {
	background-color: $c-main;
}

.room-slide {
	@include breakpoint(tablet) {
		display: flex!important;
		flex-direction: column;
		padding-left: 0!important;
	}
}

//--- Section Offers slider
#offers {
	.content-slider__right,
	.content-slider__left {
		float: right;
	}
	.content-slider__left {
		width: 62%;
		padding: 0;
	}

	.content-slider__right {
		width: 38%;
	}
}

.offers-slider {
	background-color: $c-offersBg;
}
//-- Slider arrows navigation for mobile only
.content-slider-wrapper {
	position: relative;
	.slider-nav {
		display: none;
		@include breakpoint(mobile) {
			display: block;
			position: absolute;
			top: 50%;
			width: 5.4rem;
			height: 5.4rem;
			background-color: #f4f3f0;
			cursor: pointer;
		}
		&:before {
			@include absolute(center);
			color: $c-gold;
			font-size: 2.6rem;
		}
	}
	.icon-right-arrow {
		right: 0;
	}
	.icon-left-arrow {
		left: 0;
	}
}

//--- Common for section sliders 
.content-slider {
//-- Content slider Title	
	h3 {
		margin: 7rem 0 2.8rem;
		font-family: $butler;
		font-size: 28px;
		color: $c-white; 
		@include breakpoint(desktop--small) {
			margin: 4rem 0 2.2rem;
			font-size: 26px;
		}
		@include breakpoint(mobile) {
			margin: 5rem 0;
			font-size: 3.2rem;
			text-align: center;
		}
	}
//-- Content slider Text	
	p {
		margin-bottom: 35px;
		font-weight: 300;
		font-size: 14px;
		color: $c-white;
		@include breakpoint(desktop--small) {
			font-size: 13px;
		}
		@include breakpoint(mobile) {
			margin-bottom: 6rem;
			font-size: 2.5rem;
			line-height: 1.7;
			text-align: center;
		}
	}
//-- Link to all rooms offer
	.link-all-rooms {
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 2px;
		color: $c-gold;
		text-transform: uppercase;
		@include breakpoint(desktop--small) {
			font-size: 12px;
		}
		@include breakpoint(mobile) {
			font-size: 1.5rem;
			letter-spacing: 0.3rem;
		}
		.icon-right-arrow {
			position: relative;
			top: 0.08px;
			font-size: 12px;
			vertical-align: top;
			@include breakpoint(mobile) {
				font-size: 1.2rem;
			}
		}
	}
	.slick-slide {
		//margin-left: 20px;
		transition: opacity 1.25s ease-out;
		@include breakpoint(desktop--small) {
			margin-left: 0;
		}
	}
	.slick-slide.slick-current.slick-center {
		opacity: 1;
	}
	.container {
		position: relative;
		max-width: 1180px;
		width: 93.4%;
		@include breakpoint(mobile) {
	        width: 86.5%;
	    }
	}
	.slick-dots {
		position: absolute;
		left: 10px;
		bottom: 2rem;
		@include breakpoint(tablet) {
			position: static;
			padding-bottom: 4rem;
			margin-left: 3.6%;
		}
		@include breakpoint(mobile) {
			margin-left: 0;
			text-align: center;
		}
	}
	.slick-dots li {
	    position: relative;
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    margin: 0 5px;
	    padding: 0;
	    cursor: pointer;
	    &.slick-active {
	    	button:before {
	    		color: $c-white;
	    	}
	    }
	    @include breakpoint(mobile) {
	    	margin: 0 0.9rem;
	    }
	}
	.slick-dots li button {
	    font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 20px;
	    height: 20px;
	    padding: 5px;
	    cursor: pointer;
	    color: transparent;
	    border: 0;
	    outline: none;
	    background: transparent;
	}
	.slick-dots li button:before {
	    font-family: 'slick';
	    font-size: 40px;
	    line-height: 20px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 20px;
	    height: 20px;
	    content: '•';
	    text-align: center;
	    color: #D7D2CE;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    @include breakpoint(desktop--small) {
			font-size: 36px;
		}
		@include breakpoint(mobile) {
			font-size: 5rem;
		}
	}
	.btn-holder {
		@include breakpoint(mobile) {
			text-align: center;
		}
	}
//-- Sections slider button	
	.btn-gold {
		position: absolute;
		bottom: 13.5rem;
		@include breakpoint(desktop--small) {
			bottom: 10rem;
			font-size: 12px;
		}
		@include breakpoint(tablet) {
			position: static;
		}
		@include breakpoint(mobile) {
		    display: inline-block;
    		float: none;
    		font-size: 1.75rem;
    	}
	}
}



.content-slider__right,
.content-slider__left {
	float: left;
	@include breakpoint(tablet) {
		float: none;
		clear: both;
	}
}

.content-slider__left {
	width: 25%;
	padding: 5.5rem 7rem 3.8rem 0;
	@include breakpoint(tablet) {
		order: 2;
		width: 90%;
		margin: 0 auto;
	}
	@include breakpoint(mobile) {
		padding: 6.6rem 0rem 3.8rem 0;
	}
}

.content-slider__right {
	width: 75%;
	@include breakpoint(tablet) {
		order: 1;
		width: 100%;
	}
}

[class*='-image-box'] {
	img {
		width: 100%;
	}
}