//-------------------------
//-------- SECTION
//-------------------------

.sec-title {
	font-family: $butler;
	font-size: 50px;
	color: $c-main;
}

.sec-subtitle {
	color: $c-mainLighter;
	text-align: center;
	text-transform: uppercase;
}

.rooms-slider {
	background-color: $c-main;
}
.content-slider {
	h3 {
		font-family: $butler;
		font-size: 28px;
		color: $c-white; 
	}
	p {
		font-weight: 300;
		font-size: 14px;
		color: $c-white;
	}
	.link-all-rooms {
		font-size: 14px;
		font-weight: 600;
		color: $c-gold;
	}
}

.content-slider__right,
.content-slider__left {
	float: left;
}

.content-slider__left {
	width: 30%;
	padding: 5.5rem 0 3.8rem;
}

.content-slider__right {
	width: 70%;
}

[class*='-image-box'] {
	img {
		width: 100%;
	}
}